---
import { Image } from "astro:assets";
import Arnau from "../assets/arnau.webp";
import Francisca from "../assets/francisca.webp";
import Andrea from "../assets/andrea.webp";

const width = 400;

---

<div id="grid">
  <div class="profile">
    <Image src={Arnau} alt="Arnau" {width} />
    <p>
      Arnau is a highly skilled ski expert with a rich background in alpine and adaptive skiing, spanning nearly a decade of professional experience in renowned ski destinations across Europe and South America.<br><br>
      Alongside his professional achievements, he has contributed as an educational support specialist for students with disabilities.
    </p>
  </div>
  <div class="profile">
    <Image src={Francisca} alt="Arnau" {width} />
    <p>
      Francisca Núñez Ayllach is an alpine ski instructor and an experienced project manager, with diverse professional background in sports, ecotourism and international collaboration.<br><br>
      Due to that she has demonstrated exceptional skill in managing projects, particularly in the field of adaptive skiing and outdoor education.
    </p>
  </div>
  <div class="profile">
    <Image src={Andrea} alt="Arnau" {width} />
    <p>
      Andrea Menescardi, is an internationally recognized trainer in adapted sports, with a specialization in adaptive skiing.<br><br>
      With extensive experience, he has dedicated his career to inclusivity and excellence in sports, combining technical expertise with a passion for empowering individuals of all abilities.<br><br>
      <!-- His expertise has been showcased in key international projects. -->
    </p>
  </div>
</div>

<style>
  #grid {
    max-width: 150ch;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-rows: repeat(3, auto); /* Converts to 3 rows */
    gap: 4rem;
  }

  .profile {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    text-align: justify;
  }
  
  @media (min-width: 1250px) {
    #grid {
      grid-template-columns: repeat(3, 1fr);
      justify-content: space-between;
      gap: 0;
    }

    .profile {
      text-align: center;
    }
  }

  img {
    border-radius: 1rem;
    max-height: 492px;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  p {
    margin-bottom: 0;
  }
</style>